{%extends './base.html'%}
{%block title%}
<title> Configuraciones </title>
{%endblock%}
{% block body %}
<h1>Configuraciones</h1>
<div class="row ">
    <!-- Encabezado -->
    <br>
    <!-- Mensaje a mostrar con las diferentes opciones -->
    <div class="col-md-10 mx-auto " >
        <br>
        <table   class="table table-borderless  ">
            <tbody>
                <tr>
                    <td >

                      <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#cambioNombre" data-bs-whatever="@mdo"> Cambiar el nombre del dispositivo</button> 
                    </td>
                    <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#loockback" data-bs-whatever="@mdo">Crear una interfaz de Loopbackp</button></td>
                </tr>
                <tr>
                    <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#vlan" data-bs-whatever="@mdo" > Crear una VLAN</button> </td>
                    <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#DHCP" data-bs-whatever="@mdo"> Crear un DHCP</button> </td>
                </tr>
                <tr>
                    <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#Interface" data-bs-whatever="@mdo"> Asignar direcciones IP </button> </td>
                    <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#Interface" data-bs-whatever="@mdo"> Eliminar direcciones IP</button> </td>
                </tr>
                <tr>
                  <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#SNMP" data-bs-whatever="@mdo"> SNMP </button> </td>
              </tr>
            </tbody>
        </table>
    </div>
    <!-- Mensaje de Alerta  -->
    <!-- Cambio Nombre  -->
  <div class="modal fade" id="cambioNombre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Datos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/agregarnombre" method='POST' >
          
          <div class="modal-body">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Usuario</label>
              <input type="text" class="form-control"  name="usuario" id="">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Contraseña</label>
              <input type="password" class="form-control" name="contrasenia">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Dirección IP</label>
              <input type="text" class="form-control" name="direccionip" value="0.0.0.0">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Nombre del Dispositivo</label>
              <input type="text" class="form-control" name="nombreDispositivo">
            </div>
            </div>
            <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
      </div>
    </div>
  </div> 
      <!-- loockback  -->
      <div class="modal fade" id="loockback" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Datos</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action='/agregarloopback' method='POST'>
              <div class="modal-body">
             
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Usuario</label>
                  <input type="text" class="form-control" name="usuario">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Contraseña</label>
                  <input type="password" class="form-control" name="contrasenia">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Dirección IP</label>
                  <input type="text" class="form-control" name="direccionip"  value="0.0.0.0">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Nombre del Lookcback</label>
                  <input type="text" class="form-control" name="nombreloockback">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Dirección Ip de Lookcbackp</label>
                  <input type="text" class="form-control" name="direccioniploockback" value="0.0.0.0">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Mascara de Lookcbackp</label>
                  <input type="text" class="form-control" name="mascaraloocback" value="0.0.0.0">
                </div>
              
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
          </form>
          </div>
        </div>
      </div>   
      <!-- DHCP -->
      <div class="modal fade" id="DHCP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Datos</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action='/agregarDHCP' method='POST'>
             <div class="modal-body">
              
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Usuario</label>
                  <input type="text" class="form-control" name="usuario">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Contraseña</label>
                  <input type="password" class="form-control" name="contrasenia">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Dirección IP</label>
                  <input type="text" class="form-control" name="direccionip"  value="0.0.0.0">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Nombre del DHCP</label>
                  <input type="text" class="form-control" name="NombreDHCP" >
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Gateway</label>
                  <input type="text" class="form-control" name="Gateway" value="0.0.0.0" >
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Direccion de Red</label>
                  <input type="text" class="form-control" name="DireccionRed" value="0.0.0.0" >
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Mascara de la Red</label>
                  <input type="text" class="form-control" name="MascaraRed" value="0.0.0.0" >
                </div>
                <label>Rango de Ips excluidas</label>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Ip min excluida </label>
                  <input type="text" class="form-control" name="Ipminexcluida" value="0.0.0.0">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Ip max excluida</label>
                  <input type="text" class="form-control" name="Ipmaxexcluida" value="0.0.0.0">
                </div>
               </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>  
          </div>
        </div>
      </div>  
      <!-- Vlan -->
      <div class="modal fade" id="vlan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Datos</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action='/agregarVlan' method='POST'>
             <div class="modal-body">
              
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Usuario</label>
                  <input type="text" class="form-control" name="usuario">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Contraseña</label>
                  <input type="password" class="form-control" name="contrasenia">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Dirección IP</label>
                  <input type="text" class="form-control" name="direccionip"  value="0.0.0.0">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Nombre de la VLAN </label>
                  <input type="text" class="form-control" name="nombreVlan">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Dirección Ip de VLAN</label>
                  <input type="text" class="form-control" name="direccionipVlan" value="0.0.0.0">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Mascara de VLAN</label>
                  <input type="text" class="form-control" name="mascaraVlan" value="0.0.0.0">
                </div>
              
               </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>  
          </div>
        </div>
      </div>   
</div> 
<!-- Interface -->
<div class="modal fade" id="Interface" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Datos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action='/agregarIP' method='POST'>
       <div class="modal-body">
        
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Usuario</label>
            <input type="text" class="form-control" name="usuario">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Contraseña</label>
            <input type="password" class="form-control" name="contrasenia">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Dirección IP</label>
            <input type="text" class="form-control" name="direccionip"  value="0.0.0.0">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Interfaz </label>
            <select name="interfaz"> 
              <option value="GigabitEthernet0%2F0%2F0">GigabitEthernet 0/0/0</option>
              <option value="GigabitEthernet0%2F0%2F1">GigabitEthernet 0/0/1</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Dirección Ip</label>
            <input type="text" class="form-control" name="direccionipInterfaz" value="0.0.0.0">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Mascara</label>
            <input type="text" class="form-control" name="mascaraInterfaz" value="0.0.0.0">
          </div>
        
         </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>  
    </div>
  </div>
</div>   
</div>
<!-- SNMP -->
<div class="modal fade" id="SNMP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Datos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/agregarSNMP" method='POST' >
        
        <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Usuario</label>
            <input type="text" class="form-control"  name="usuario" id="">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Contraseña</label>
            <input type="password" class="form-control" name="contrasenia">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Dirección IP</label>
            <input type="text" class="form-control" name="direccionip" value="0.0.0.0">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Comunidad</label>
            <input type="text" class="form-control" name="nombresnmp">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Permisos</label>
            <select name="opcionsnmp">
              <option value="Lectura">Lectura </option>
              <option value="Escrito">Escritura </option>
            </select>
          </div>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
    </div>
  </div>
</div> 

{%endblock%}