{%extends './base.html'%}

{% block body %}

<div>
    <h1>RESTCONF</h1>

    <p class="text-justify">
        RESTCONF es un protocolo de gestión de dispositivos de red que utiliza la arquitectura REST (Representational State Transfer) para proporcionar una interfaz de programación de aplicaciones (API) estándar y basada en web para acceder a dispositivos de red. RESTCONF se basa en el Protocolo de configuración simple de red (NETCONF), que utiliza un formato de codificación de datos en XML.
        Sin embargo, a diferencia de NETCONF, RESTCONF utiliza el formato de codificación de datos JavaScript Object Notation (JSON), que es más ligero y fácil de procesar por las aplicaciones. RESTCONF también utiliza los métodos HTTP (GET, PUT, POST, DELETE) para interactuar con los recursos de los dispositivos de red.
    </p>
</div>

<h2>Dispositivos de Trabajo</h2>
<div class="limites">
    <table class="tablas_descripcion" >
        <tr>
            <th colspan="2">CISCO C1111-4P Cisco 1100 Series  </th>
            <th colspan="2">CISCO 4221 Integrated Services Routers </th>
        </tr>
        <tr>
            <th>Características</th>
            <th>Descripción</th>
            <th>Características</th>
            <th>Descripción</th>
        </tr> 
    </table>    
</div>

{%endblock%}