{%extends './base.html'%}
{%block title%} Información {%endblock%}
{% block body %}
<h1>Información</h1>
<div class="col-md-10 mx-auto " >
    <br>
    <table   class="table table-borderless  ">
        <tbody>
            <tr>
                <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Nombre del dispositivo</button> </td>
                <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Interfaces</button></td>
            </tr>
            <tr>
                <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" > VLAN</button> </td>
                <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"> DHCP</button> </td>
            </tr>
            <tr>
                <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"> Direcciones IP </button> </td>
                <td ><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"> Direccionamiento</button> </td>
            </tr>
           
        </tbody>
    </table>
</div>
<!-- Mensaje de Alerta  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Datos</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Usuario</label>
          <input type="text" class="form-control" id="recipient-name">
        </div>
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Contraseña</label>
          <input type="text" class="form-control" id="contrasenia">
        </div>
        
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Send message</button>
    </div>
  </div>
</div>
</div>  
{%endblock%}